- name: create grafana agent directory
  file:
    path: /home/pi/pf
    state: directory
    owner: pi
    group: pi
    mode: 0755

- name: copy packet forwarder config file
  ansible.builtin.copy:
    src: "{{packet_forwarder_config_file_path}}"
    dest: /home/pi/pf/local_conf.json
    owner: pi
  register: pf_config

- name: Restart packet-forwarder service
  systemd:
    name: helium-packet-forwarder
    state: restarted
  when: pf_config.changed
