---
- name: upgrade the OS and all packages
  apt:
    upgrade: dist
    update_cache: yes

- name: install basic software environment
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - ca-certificates
      - vim
      - locales-all
      - jq # JSON cli processor for Height Helper
      - bc # Basic Calculator for Height Helper
      - bat
      - i2c-tools
      - mc

- name: Install container engine
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - podman
      - podman-compose
