# Container environment
VENDOR={{ target_hotspot_vendor }}
REGION={{ target_miner_region }}
CONCENTRATOR_INTERFACE={{ target_pf_concentrator_interface }}
CONCENTRATOR_MODEL={{ target_pf_concentrator_model }}

# Podman
IMAGE={{ target_pf_image }}:{{ target_pf_tag }}
