# Container environment
REGION_OVERRIDE={{ target_miner_region }}
GW_REGION={{ target_miner_region }}

# Podman
IMAGE=quay.io/team-helium/miner:{{ target_miner_tag }}
{% if target_hotspot_vendor == "pisces" %}
DEVICE_I2C=/dev/i2c-0
{% else %}
DEVICE_I2C=/dev/i2c-1
{% endif %}
