---
version: "2.1"
services:
  packet_forwarder:
    image: {{ target_pf_image }}:{{ target_pf_tag }}
    container_name: pf
    environment:
      - VENDOR={{ target_hotspot_vendor }}
      - REGION={{ target_miner_region }}
      - CONCENTRATOR_INTERFACE={{ target_pf_concentrator_interface }}
      - CONCENTRATOR_MODEL={{ target_pf_concentrator_model }}
{% if packet_forwarder_config_file_path is defined %}
      - CONFIG_FILE=/opt/packet_forwarder/configs/local_conf.json
{% endif %}
    volumes:
      - /home/pi/pf:/opt/packet_forwarder/configs
    devices:
      - /dev/spidev0.0:/dev/spidev0.0
      - /dev/spidev0.1:/dev/spidev0.1
      - /dev/gpiomem:/dev/gpiomem
    cap_add:
      - SYS_RAWIO
{% if use_host_networking is defined and use_host_networking == True %}
    network_mode: host
{% else %}
    networks:
      - helium
{% endif %}
    privileged: true
    restart: unless-stopped  

  miner:
    image: quay.io/team-helium/miner:{{ target_miner_tag }}
    container_name: miner
    environment:
      - REGION_OVERRIDE={{ target_miner_region }}
      - GW_REGION={{ target_miner_region }}
      - GW_KEYPAIR=ecc://i2c-1
      - GW_LISTEN=0.0.0.0:1680
      - GW_API=0.0.0.0:4467
{% if use_host_networking is defined and use_host_networking == True %}
    network_mode: host
{% else %}
    networks:
      - helium
    ports:
      - "44158:44158/tcp"
      - "1680:1680/udp"
      - "4467:4467/tcp"
{% endif %}
    cap_add:
      - SYS_RAWIO
    devices:
{% if target_hotspot_vendor == "pisces" %}
      - /dev/i2c-0:/dev/i2c-1
{% else %}
      - /dev/i2c-1:/dev/i2c-1
{% endif %}
    ulimits:
      nofile:
        soft: 64000
        hard: 64000
    restart: unless-stopped

{% if use_host_networking is defined and use_host_networking == True %}
{% else %}
networks:
  helium:
   driver: bridge
   ipam:
    config:
     - subnet: 172.16.57.0/24
{% endif %}
